-r requirements/build.txt
-r requirements/optional.txt
-r requirements/runtime.txt

mmcv~=2.1.0
mmengine~=0.10.2
mmdet~=3.3.0
opencv-python~=4.9.0.80
torch~=2.1.2+cu118
rich~=13.4.2
addict~=2.4.0
pillow~=9.3.0
requests~=2.28.2
pandas~=2.0.3
setuptools~=60.2.0
pyyaml~=6.0.1